{% extends 'template_null.html' %}

{% block content %} <!--isto indica o uso de um codigo .py-->
    <main>
                <h1 class="titulo">Cadastro codigo ou e-mail </h1>
        <h2 class="subTitulo">Faça o Cadastro</h2>
        <hr>
        <div class="col-md-4">
            <form action="{{url_for('cadastro')}}" method="POST" >
                <label class="abel">Informe seu nome completo</label><br>
                <input class="inp" type="text" name="nome" placeholder="Nome"><br>
                <label class="abel">Informe seu Telefone</label><br>
                <input class="inp" type="text" name="telefone" placeholder="ex: 551302154298"><br>
                <label class="abel">Informe uma senha</label><br>
                <input class="inp" type="text" name="senha" placeholder="Lembre bem"><br>
                <label class="abel">Passe um email seu </label><br>
                <input class="inp" type="text" name="email" placeholder="emailexemplo@outlook.com"><br>

                <input class="button" type="submit" value="Registrar novo usuario">
                
            </form>
        </div>
    </main>
{% endblock content %}