{% extends 'template_null.html' %}

{% block content %} <!--isto indica o uso de um codigo .py-->
    <main>
        <h1>Bom dia</h1>
        <br>
        <br>
        <br>
        <div>
        <p class="info">Você tem um jardim ou plantas em casa? E se você mora em uma fazenda ou perto dela? Com ​​que frequência você verifica as folhas das suas plantas para detectar descoloração? E se você tivesse um equipamento que faz essa verificação e o avisa, caso,  suas plantas estejam ficando doentes? Nosso projeto, irá usar um sensor de cor para identificar diferentes tonalidades nas folhas, o que pode alertá-lo sobre problemas como pragas, doenças ou deficiência de nutrientes.</p>
        </div>
    </main>
{% endblock content %}