{% extends 'template_null.html' %}

{% block content %}
    <main>
        <section class="secao">
            <div class="div1">
                <article class="info">
                    <h2>Monitoramento da saude das plantas com um sensor de cor.</h2>
                    <p>
                        Voce tem um jardim ou plantas em casa? E se voce mora em uma fazenda ou perto dela?
                        Com que frequencia voce verifica as folhas das suas plantas para detectar descoloracao?
                        E se voce tivesse um equipamento que faz essa verificacao e o avisa, caso suas plantas
                        estejam ficando doentes? Nosso projeto usa um sensor de cor para identificar diferentes
                        tonalidades nas folhas, ajudando a detectar pragas, doencas ou deficiencia de nutrientes.
                    </p>
                </article>

                 <img src="{{url_for('static', filename='/img/grafico.png')}}" alt="" width="300px">
                    </div>
                </article>
            </div>
        </section>

    </main>
{% endblock content %}