{% extends 'template_null.html' %}

{% block content %}
    <main>
        <h3>Seja muito Bem vindo! {{ session['nomeLogado'] }}</h3>

        <div><a href="{{url_for('verSensores')}}">Acessar informações de sensor</a></div>
        <div><a href="{{url_for('adicionarSensor')}}">Adicionar um novo sensor</a></div>
        <div><a href="{{url_for('removerSensor')}}">Desvincular um sensor</a></div>
        <div><a href="">Questionario de diagnostico</a></div>
        
    </main>
{% endblock content %}